# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage/

# Build / cache
.cache/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/